body {
    /* put font name here */
    font-family: "#", sans-serif;
}



.nav-container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
    background-color: #1aa6b7;
    
}
.nav-container a {
    margin: 0 20px;
    color: #fff;
    background-color: #022d41;
    padding: 10px;
}

.page-1-body {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* align-items: center;     */
    text-align: center; 
    height: 500px;
   
}

.left-column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: purple;
    background-color: pink;
    /* font-size: ; */
    /* font-family:  */
    width: 50vw;
    
}

.left-column1 h1 {
    /* put font name here */
    font-family: "";
}

.right-column1 {
    color: purple;
    background-color: pink;
    border: solid black;
    width: 50vw;
}

.page1-photo {
    width: ;
    height: ;
}



.page-2-body {
    display: flex;
    
    justify-content: center;
    
    height: 300px;

    
}

.left-column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: purple;
    background-color: yellow;
    /* font-size: ; */
    /* font-family:  */
    width: 50vw;
}


.right-column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: purple;
    background-color: lightblue;
    /* font-size: ; */
    /* font-family:  */
    width: 50vw;
    
}


.contact-info {


}